.container {
    border: 2px solid rgb(188, 132, 132);
    border-radius: 5px;
    background-color: rgb(141, 162, 155);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
   

}



.imagen {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(188, 132, 132);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.letras h2 {
    color: rgb(173, 68, 68);
    margin-left: 45px;
    text-align: left;
    
  }

  .letras h1 {
    color: rgb(19, 7, 7);
    margin-left: 65px;
    text-align: center;
   
  }

.letras span {
    color: rgb(179, 235, 75);
    display: inline-flex;
    flex-direction: column;
    margin-left: 46px;
    ;
}