.conteiner {
    border: 2px solid rgb(188, 132, 132);
    border-radius: 5px;
    background-color: rgb(141, 162, 155);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column

}

.cambio{
    margin-top: 95px;
    margin-bottom: 5px;
}

.boton{
    position:relative;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8em 1.5em;
    border-radius: 6em;
    transition: all .2s;
    position: absolute;
    border: none;
    font-family: inherit;
    font-weight: 550;
    color: rgb(192, 127, 81);
    background-color:   rgb(63, 83, 64);
    cursor: pointer;
    margin-top: 12px;
    margin-left: 10%;
    margin-bottom: 0px;
}

.volver{
    margin-left: 10px;
    font-size: 25px;
    width: 40%;
  margin-top: 25px;
}

.titulo{   
    margin-left: 70px;
}

.gust{
    margin-left: 210px;
    color: blue;
}

.boton button {
    border-color: rgb(223, 208, 124);
    border: solid 2px;
    border-width: 0.5px;
    border-radius: 100px;
    background-color: rgb(227, 221, 211);
    transition: background-color 0.25s, color 0.25s;
    padding: 7px;
    /* margin-top: 10px;
    margin-left: 10px; */
    margin-bottom: 0px;
    font-family: "Comic Neue", cursive;
    cursor: pointer;
    color: rgb(53, 52, 46);
  }


  .boton button:hover {
    background-color: rgb(126, 123, 126);
    color: white;
    border: 2px outset rgba(119, 98, 28, 0.8);
  }